<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Voici le cours de <%= @crypto_currency.name %>

    <li><%= @crypto_currency.price %> $</li>

  </body>
</html>
